<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692593899826-kr2855i0i3ktv1mrfp4vlasgo7edj0r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692593899826-kr2855i0i3ktv1mrfp4vlasgo7edj0r3</string>
	<key>API_KEY</key>
	<string>AIzaSyAKEswDM3r4ule6g5RTuchncIfQjch-uWg</string>
	<key>GCM_SENDER_ID</key>
	<string>692593899826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modsport</string>
	<key>PROJECT_ID</key>
	<string>modsport-702fa</string>
	<key>STORAGE_BUCKET</key>
	<string>modsport-702fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692593899826:ios:395c797371a4c27960ff2b</string>
</dict>
</plist>